/* Light Theme */

:root{
    @include defineColorHSL(--sakai-brand, 186, 100%, 24%);
    --top-header-background: hsl(0, 74%, 40%);
    --topNav-text-color: hsl(0, 0%, 100%);
    --tool-border-color: hsl(186, 100%, 24%);
    --tool-tab-border-color: var(--sakai-brand);

    // Logo
    --logo: url(#{$skin-path}images/logo.png);
    --logo-height: 36px;
    --logo-width: 90px;

    //Sites Nav
    --sites-nav-background: hsl(192, 11%, 91%);
    --sites-nav-menu-item-background: hsl(0, 0%, 100%);
    --sites-nav-menu-item-color: hsl(0, 0%, 0%);
    //--sites-nav-menu-item-hover-background: hsl(225, 16%, 30%);
    //--sites-nav-menu-item-hover-color: hsl(40, 100%, 70%);

    --sites-nav-menu-item-selected-background: hsl(202, 31%, 84%);
    --sites-nav-menu-item-selected-color: hsl(180, 11%, 4%);
    --sites-nav-menu-item-selected-hover-background: hsl(192, 6%, 83%);
    //--sites-nav-menu-item-selected-hover-color: hsl(0, 0%, 0%);

    //Tool Menu
    --tool-menu-item-selected-background-color: hsl(202, 31%, 84%);
    --tool-menu-item-selected-text-color: hsl(201, 71%, 20%);
    --tool-menu-item-selected-icon-color: hsl(201, 71%, 20%);
    --tool-menu-item-selected-hover-background-color: hsl(201, 31%, 76%);

    //Buttons
    // Default (non-primary) button design:
    --button-text-color: var(--sakai-brand);
    --button-background: hsl(0, 0%, 100%);
    --button-border-color: var(--sakai-brand);
    --button-shadow: none;
    // hover and focus states:
    --button-hover-text-color: hsl(0, 0%, 100%);
    --button-hover-background: var(--sakai-brand);
    --button-hover-border-color: var(--sakai-brand);
    --button-hover-shadow: none;

    //Link colors
    --link-color: var(--sakai-brand);
    --link-active-color: hsl(186, 49%, 39%);
    --link-hover-color: hsl(186, 70%, 34%);
    --link-background-color: transparent;
    --link-active-background-color: transparent;
    --link-hover-background-color: transparent;
}

// Dark Theme Changes
:root.sakaiUserTheme-dark {
    --sites-nav-background: hsl(216, 7%, 14%);
    --sites-nav-menu-item-background: hsl(216, 9%, 21%);
    --sites-nav-menu-item-color: hsl(0, 0%, 100%);

    --logo-opacity: 1;

    //Buttons
    // Default (non-primary) button design:
    --button-text-color: hsl(210, 4%, 89%);
    --button-background: hsl(213, 8%, 21%);
    --button-border-color: hsl(212, 9%, 29%);
    --button-shadow: none;
    // hover and focus states:
    --button-hover-text-color: hsl(210, 4%, 89%);
    --button-hover-background: hsl(212, 9%, 29%);
    --button-hover-border-color: hsl(214, 9%, 36%);
    --button-hover-shadow: none;
}

// SASS Parameter Overrides
$skin-name: 'morpheus-marist';


// CSS Overrides
#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
    border: 1px solid hsl(186, 100%, 24%);
}

#topnav_container {
    border-bottom: 1px solid hsl(186, 100%, 24%);
}

span#bullhorn-counter {
    background-color: #006E7A !important;
    color: #fff !important;
}

.Mrphs-sakai-resources table.resourcesList tr.inactive *:hover {
    color: #FFF !important;
}